# Idea configs
.idea
*.iml
*.iws
*.ipr

# Gradle specific files
.gradle
build

# Common files
*.log

# Folder with personal temporary files
drafts

# Temporary files
schema.sql

frontend/node_modules
frontend/bower_components
frontend/dist
frontend-webpack/node_modules
