<form data-ng-submit="submit()" class="form-inline" role="form">
    <div class="form-group">
        <div class="input-group">
            <label class="sr-only" for="name">Name</label>
            <div class="input-group-addon"><span class="glyphicon glyphicon-bookmark"></span></div>
            <input ng-model="bookmarkForm.newBookmark.title" type="text" class="form-control" id="name" placeholder="Name">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <label class="sr-only" for="url">Address</label>
            <div class="input-group-addon"><span class="glyphicon glyphicon-link"></span></div>
            <input ng-model="bookmarkForm.newBookmark.url" type="url" class="form-control" id="url" placeholder="Url">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <label class="sr-only" for="tags">Tags</label>
            <div class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></div>
            <input ng-model="bookmarkForm.newBookmark.tags" type="text" class="form-control" id="tags" placeholder="Tags">
        </div>
    </div>
    <add-note></add-note>
    <button ng-click="alertString()" type="submit" class="btn btn-default">Create new bookmark</button>
</form>